<a href="project-card.html">
  <div class="project-card light-field">
    <h3 class="card-name card-item">
      {{ include.project.title }}
    </h3>
    <div class="card-desc card-item">
      {{ include.project.summary }}
    </div>
    <div class="card-roles card-item">
      {% for item in include.project.roles %} {%- include roleLabel.html
      role=item -%} {% endfor %}
    </div>
    <div class="card-logos card-item">
      {% for item in include.project.tools %} {%- include toolIcon.html
      tool=item -%} {% endfor %}
    </div>
  </div>
</a>
