<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-173486410-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-173486410-1");
    </script>
    <link rel="stylesheet" href="css/main.css" />
    <link
      href="http://fonts.googleapis.com/css?family=Lato:400,700"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <a href="index.html">
      <div class="home-button">◄ home</div>
    </a>
    <h1>{{ site.data.projects[page.slug].title }}</h1>
    <div class="main">
      <div class="left-column">
        <h2>Metadata</h2>
        <div class="light-field">
          <div class="metadata-section">
            <h4>Summary</h4>
            <div class="card-desc">
              {{ site.data.projects[page.slug].summary }}
            </div>
          </div>
          <div class="metadata-section">
            <h4>Links</h4>
            <ul class="links-list">
              {% for item in site.data.projects[page.slug].links %}
              <li>
                <a target="_blank" href="{{ item.url }}">
                  {{ item.description }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="metadata-section">
            <h4 class="project-meta-header">Roles</h4>
            <div class="card-roles">
              {% for item in site.data.projects[page.slug].roles %} {%- include
              roleLabel.html role=item -%} {% endfor %}
            </div>
          </div>
          <div class="metadata-section">
            <h4 class="project-meta-header">Tools Used</h4>
            <div class="card-logos">
              {% for item in site.data.projects[page.slug].tools %} {%- include
              toolIcon.html tool=item -%} {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="right-column">
        <h2>Description</h2>
        <div markdown="1" class="light-field project-description">
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
